.whoweare {
  width: 100%;
  height: 716px;
  display: flex;
  justify-content: center;
}
.weare {
  width: 1200px;
  height: 376px;
  flex-shrink: 0;
  background: #f4f5f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.weare .ttop {
  width: 661px;
  height: inherit;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  gap: 50px;
}
.weare .ttop .left {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.weare .ttop .left h6 {
  color:  #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}
.weare .ttop .left h2 {
  width: 505px;
  color:  #282938;

  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.weare .ttop .left p {
  width: 505px;
  color:#282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weare .ttop .right {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.weare .ttop .right h2 {
  width: 505px;
  color:  #282938;

  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.weare .ttop .right p {
  width: 505px;
  color:  #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
